body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: #edcab6;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0); /* Optional: darken the background image */
}

.login-box {
    background: rgba(255, 255, 255, 0.404);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.img {
    border: 1px solid #ff7300;
    border-radius: 50%;
    padding: 7px;
    height: 150px;
    width: 150px;
  }

.login-box button {
    width: 100%;
    padding: 10px;
    background: #ff6f00;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #ff6f00;
}
